* {
  image-rendering: pixelated;
}

body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #323C39;
  margin: 0;
}

div#root {
  left: 0;
  right: 0;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  position: absolute;
}
